<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>283600384636-1vcp8pbdkj8s0ghemql2dop7e7enisfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.283600384636-1vcp8pbdkj8s0ghemql2dop7e7enisfs</string>
	<key>API_KEY</key>
	<string>AIzaSyCbUFkZRiZlK7RBckP37EWDFlLTLUkfbuI</string>
	<key>GCM_SENDER_ID</key>
	<string>283600384636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.altverse.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-f2133</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-f2133.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:283600384636:ios:1ab0d595453c4091b04ff9</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-f2133.firebaseio.com</string>
</dict>
</plist>